# Сборка (Rust)
/target/
target/

# C-мозг (артефакты)
brain/brain
brain/brain.exe

# Go движок (артефакты)
engine/*.so
engine/*.dll
engine/*.h

# OS
.DS_Store
Thumbs.db

# Результаты работы приложения
wallpaper*.png
pattern.png